<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <link rel="shortcut icon" href="../images/uploads/ixon.png.png" type="image/x-icon">
    <title>Profile</title>
</head>
<body>
    <div class="bg-black min-h-screen">
        <div class="h-1/5">
            <%- include('./partials/header')%>
        </div>
        <div class="w-full h-auto px-10 py-5">
            <div class="flex items-center">
                <div class="rounded-full overflow-hidden mr-6">
                    <img src="data:image/jpeg;base64,<%=user.dp.toString('base64') %>" class="w-28 h-28 object-cover ">
                </div>
                <div class="mr-auto text-white font-semibold text-2xl">
                    <h3><%= user.name %></h3>
                    <h3><%= user.age %></h3>
                    <h3><%= user.email %></h3>
                </div>
                <a href="/users/upload">
                    <button class="bg-orange-500/50 hover:bg-orange-500 text-white text-sm px-2 py-1 rounded-md mt-5">
                            Edit profile
                    </button>
                </a>
            </div>
        </div>
<!-- User Posts -->
        <div class="min-h-4/5 mx-1 text-white p-10 border-t border-zinc-500">
            <% if(user.posts.length <= 0){ %>
                <h1 class="text-zinc-600 font-semibold tracking-tight">No Post yet!</h1>
            <% } %>
            <div class="flex flex-wrap gap-2">
                <% user.posts.reverse().forEach(post => {%>
                    <div class="post max-w-72 h-fit py-3 w-contain bg-zinc-800 rounded-lg  border-zinc-500">
                        <div class="flex gap-1 px-2 ">
                            <img src="data:image/jpeg;base64,<%=user.dp.toString('base64') %>" 
                            class="h-8 w-8 rounded-full border border-violet-500 object-cover">
                            <h2 class="text-blue-500 text-2xl mb-2"><%= user.name %></h2>
                        </div>
                        <div class=" flex flex-wrap mb-2 px-2 ">
                            <p class="text-xl"><%= post.content %></p>
                        </div>
                        <% if(post.image !== null) {%>
                            <img src="data:image/jpeg;base64,<%=post.image.toString('base64') %>"
                            class="overflow-hidden mb-2 ">
                        <%}%>
                        <div class="text-sm text-zinc-400 px-2 "><%=post.like.length %> like</div>
                        <div class="px-2">
                            <a class="text-blue-500" href="/posts/like/<%= post._id%>/profile">
                                <% if(post.like.indexOf(user._id) === -1) { %>
                                    <i class="ph ph-heart"></i>
                                <% }else{ %>
                                    <i class="ph-fill ph-heart"></i>
                                <% } %>
                            </a>
                            <a class="text-zinc-500 ml-2" href="/posts/edit/<%= post._id%>">Edit</a>
                            <a class="text-red-500 ml-4" href="/posts/delete/<%= post._id%>">Delete</a>
                        </div>
                        
                    </div>
                <%}); %>
            </div>
        </div>
    </div>
</body>
</html>